[user]
  name = yumuu
  email = yumuu@vuwuv.com
[push]
	default = matching
[core]
	autocrlf = false
	safecrlf = true
[pager]
	branch = false
[pull]
	ff = only
[credential]
	helper = manager-core
[credential "helperselector"]
	selected = manager-core
[credential "http://repos.home"]
	provider = generic
[init]
	defaultBranch = main
