[user]
	name = yumvv
  email = yumuu@vuwuv.com
[push]
	default = matching
[core]
	autocrlf = false
	safecrlf = true
[pager]
	branch = false
[pull]
	ff = only
[credential]
	helper = manager-core
[credential "helperselector"]
	selected = <no helper>
[credential "http://repos.home"]
	provider = generic
[init]
	defaultBranch = main
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
